h1 {
    font-size: 40px;
    text-align: center;
}

body {
    background-color: cyan;

}
p {
    color: rgb(27, 27, 207);
    background-color: rgb(117, 110, 110);
}
nav ul li {
    display: inline;
    margin: 10px;
    color: rgb(27, 27, 207);
}